@model NetBoox.ViewModels.BookViewModel

@{
    ViewBag.Title = "Book";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Book: @Model.Book.BookName</h2>
<p>Part of genre: @Model.Genre.GenreName</p>
