@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<hgroup class="title">
    <h1 class="error">@Language.Error</h1>
    <h2 class="error">@Language.AnErrorOccuredProcessingRequest</h2>
</hgroup>
